.App {
  text-align: center;
  /* background-color: antiquewhite; */
}

.app-title {
  color: darkcyan;
}

#chat-box {
  margin: 1.5rem;
  background-color: #fbecfb;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 4px solid lightgray;
  border-radius: 10px;
}

#content {
  font-size: 20px;
}

#delete-button {
  background-color: rgb(247, 100, 46);
}

#end-of-chat, #time-display {
  color: grey;
  font-size: 10px;
}

.group-card {
  margin: 1.5rem;
  padding-bottom: 5px;
  background-color: rgb(224, 250, 236);
  border: 2px solid lightgray;
  text-align: center;
}

.group-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#join-button, #open-button {
  background-color: lightgreen;
}

#leave-button {
  background-color: pink;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid lightgray;
  width: 60%;
  margin:auto;
}

#logout-button {
  background-color: lightpink;
}

#logout-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.message-sender {
  color: red;
  text-align: center;
  background-color: lightblue;
  margin-right: 5%;
  margin-left: 40%;
  border: 2px solid lightgray;
  border-radius: 20px;
}

.message-receiver {
  color: blue;
  text-align: center;
  background-color: lightgrey;
  margin-right: 40%;
  margin-left: 5%;
  border: 2px solid lightblue;
  border-radius: 20px;
}

#name {
  font-size: 10px;
}

#nav-div {
  padding-top: 1px;
  padding-bottom: 10px;
  background-color: lightgray;
  margin: auto;
}

#nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  position: relative;
  font-family: "Roboto Condensed";
  background-color: whitesmoke;
  color: green;
  border: 2px solid gray;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  text-decoration: none;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.n-active {
  color:red;
}


