.App {
  text-align: center;
}

#app-title{
  color: darkcyan;
  text-align: center
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#nav-div {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
}

#nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  position: relative;
  font-family: "Roboto Condensed";
  background-color: whitesmoke;
  color: blue;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  width: 100px;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.n-active {
  color:red;
}

#logout-button {
  background-color: lightpink;
}

#logout-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
