.App {
  text-align: center;
}

#nav-bar {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: lightblue;
}

.nav-button {
  position: relative;
  font-family: "Roboto Condensed";
  background-color: whitesmoke;
  color: blue;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  width: 100px;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}